:root {
  --dl-color-webtech-1: #e3f6ecff;
  --dl-color-webtech-2: #474c59ff;
  --dl-color-webtech-3: #7aa7b5ff;
  --dl-color-webtech-4: #40bf73ff;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-webtech-1);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-webtech-1);
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.input {
  color: var(--dl-color-webtech-1);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-webtech-1);
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.textarea {
  color: var(--dl-color-webtech-1);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-webtech-1);
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
